<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to '拉斐爾30連！！團報專區', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="">開團時間：2017/3/19 18：00</li>
        <br>
        <li>戰力五萬以上</li>
        <br>
        <li>因為屬性減傷,請用水屬</li>
      </ul>
    </div>    
  </div>
</nav>